<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vangthao.app.acitivitydemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcitivityDemo">
        <activity android:name=".parceablesandbundles.SendingDataActivity">
        </activity>
        <activity android:name=".parceablesandbundles.ReceiveDataActivity" />
        <activity android:name=".tasksandbackstack.TheThirdActivity" />
        <activity android:name=".tasksandbackstack.TheSecondActivity" />
        <activity
            android:name=".tasksandbackstack.TheFirstActivity"
            android:launchMode="standard">
        </activity>
        <activity android:name=".activitylifecycle.SecondActivity" />
        <activity
            android:name=".activitylifecycle.ActivityLifecycleActivity"
            android:screenOrientation="portrait">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
    </application>

</manifest>